.item-icon {
  color: #616161;
  font-size: 25px;
  margin: 10px;
}

.post-container {
  width: 625px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-pics {
  width: 65px;
  height: 65px;
  border-radius: 3px;
}

.username-area{
  padding: 20px;
}

.post-username{
  margin-bottom: 20px;
  float: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.actual-post {
  width: 540px;
  background-color: white;
  border-radius: 3px;
}

.interaction-icons{
  display: flex;
  float: right;
  margin: 10px
}

.post-content{
  width: inherit;
}

.imagepost {
  width: 100%;
}

.caption{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 20px;
  width: 540px;
  text-align: left;
}

.videopost {
  width: 100%;
}

.quotepost{
  padding: 20px;
}

.quotepost-title{
  width: inherit;
  float: left;
  text-align: left;
  height: 150px;
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.quotepost-body{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  text-align: left;
}

.titlepost{
  
}

.textpost-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.textpost-body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}