.post-item {
  width: inherit;
  min-height: 300px;
  border: 2px solid yellow;
  background-color: white;
  border-radius: 3px;
  margin: 30px 0px 30px 0px;
}

.text-item-title{
  font-size: 100px;
  color: red;
}

.post-item-body{
  font-size: 20px;
}

.quote-item-title{
  font-size: 40px;
  color: yellow;
}

.quote-item-body{
  font-size: 20px;
}