.navbar{
    display: flex;
    justify-content: space-between;
    width: 97%;
    border-bottom: 2px solid #2a3f57;
    padding: 15px 20px 10px 20px;
    position: fixed;
    top: 0;
    background-color: #001935;
    z-index: 999;
}

.searchbar{
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.searchbar:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.navbaricons {
    display: flex;
    width: 200px;
    float: right;
    justify-content: space-between;
}

.navbaricon {
    color: white;
    font-size: 25px;
}

.navbaricon2 {
    color: white;
    font-size: 25px;
}

.person-container:hover {
    display: block;
    cursor: pointer;
}

.logout-dropdown {
    display: none
}

.person-container:hover .logout-dropdown{
    display: block;
    background-color: white;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    padding-top: 30px;
    height: 100px;
    width: 150px;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    z-index: 5;
    border-radius: 3px;
}

.hello-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.logout-button{
    width: 150px;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
    background-color: #dbdbca;
}

.logout-button:hover{
    background-color: #a8a89b;
}
